@model IT_Recrutement_Link.Domain.Entities.Company
           

@{
    
    ViewBag.Title = "Register Your Company";
}
    <!--BEGIN #signup-form -->
    <div id="signup-form">

        <!--BEGIN #subscribe-inner -->
        <div id="signup-inner">

            <div class="clearfix" id="header">

                <img id="signup-icon" src="./images/signup.png" alt="" />



                <h1>Sign up your Company</h1>
            </div>

            
            <p>Please complete the fields below, ensuring you use a valid email address as you will be sent a validation code which you will need the first time you login to the site.</p>

            @using (Html.BeginForm(new { id = "send" , enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p>
                    Company name *  @Html.TextBoxFor(c => c.Name)
                                    @Html.ValidationMessageFor(c => c.Name)
  
                </p>

                <p>
                    password * @Html.PasswordFor(c => c.PasswordHash)
                    @Html.ValidationMessageFor(c => c.PasswordHash)
                </p>
                <p>
                    Verify password * @Html.PasswordFor(c => c.PasswordHash)
                    @Html.ValidationMessageFor(c => c.PasswordHash)
                </p>

                <p>

                  Email * @Html.TextBoxFor(c => c.Email, "", new { type = "email", placeholder = "IT-Recrutement@Link.fr" })
                          @Html.ValidationMessageFor(c => c.Email)
                  </p>

                <p>
                    Web Site * @Html.TextBoxFor(c => c.URL, "", new { type = "URL", placeholder = "http://www.IT-Recrutement-Link.com" })
                    @Html.ValidationMessageFor(c => c.URL)
                 </p>

                <p>

                   Address * @Html.TextBoxFor(c => c.Address)
                    @Html.ValidationMessageFor(c => c.Address)
                </p>
                <p>
                   Country *  @Html.TextBoxFor(c => c.Country)
                            @Html.ValidationMessageFor(c => c.Country)
                </p>
              <p>
                Creation Date *  @Html.TextBoxFor(c => c.CreationDate, Html.Encode(String.Format("{0:dd/mm/yy}", DateTime.Now)), new { @class = "ui-datepicker" })
                    @Html.ValidationMessageFor(c => c.CreationDate)            
              </p>
                
                <p>
                    
                   Upload your picture <input type="file" name="file"/>
                    
                    
                </p>

                <p>
                    <input type="submit" value="Register"/>
                </p>

            }
            <div id="required">
                <p>
                    * Required Fields<br />
                    NOTE: You must activate your account after sign up
                </p>
            </div>

        </div>

        <!--END #signup-inner -->
    </div>

    <!--END #signup-form -->
    

