
@{
    ViewBag.Title = "Register Your Company";
}



    <title>s'inscrire</title>

    <!---------- CSS ------------>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>

<body>

    <!--BEGIN #signup-form -->
    <div id="signup-form">

        <!--BEGIN #subscribe-inner -->
        <div id="signup-inner">

            <div class="clearfix" id="header">

                <img id="signup-icon" src="./images/signup.png" alt="" />

                <h1>Sign up your Company</h1>


            </div>
            <p>Please complete the fields below, ensuring you use a valid email address as you will be sent a validation code which you will need the first time you login to the site.</p>


            <form id="send" action="">

                <p>

                    Company name *  @Html.TextBox("Company name")
                   
                </p>

                <p>
                    password * @Html.Password("passwd")

                </p>
                <p>
                    Verify password * @Html.Password("passwd")

                </p>

                <p>

                  Email * @Html.TextBox("name", "", new { type = "email", placeholder = "IT-Recrutement@Link.fr" })
                </p>

                <p>
                    Web Site * @Html.TextBox("name", "", new { type = "URL", placeholder = "http://www.IT-Recrutement-Link.com" })
                </p>

                <p>

                    Phone * @Html.TextBox("Phone")
                </p>

                <p>
                  Country * @{
    var items = new List<SelectListItem>{
        new SelectListItem {Value = "1", Text = "Algérie"},
        new SelectListItem {Value = "2", Text = "Tunisie"},
        new SelectListItem {Value = "3", Text = "Turky"},
        new SelectListItem {Value = "4", Text = "togo"},
        new SelectListItem {Value = "5", Text = "USA"},
        new SelectListItem {Value = "6", Text = "UK"},
        new SelectListItem {Value = "7", Text = "UAE"},
        new SelectListItem {Value = "8", Text = "Marroc"},
        new SelectListItem {Value = "9", Text = "Nigéria"},
        new SelectListItem {Value = "10", Text = "Japan"},
        new SelectListItem {Value = "11", Text = "France"},
        new SelectListItem {Value = "5", Text = "Germany"},
        new SelectListItem {Value = "5", Text = "Suiss"},
        new SelectListItem {Value = "5", Text = "Italie"},
        new SelectListItem {Value = "5", Text = "Serby"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        new SelectListItem {Value = "5", Text = "Black"},
        
    };
    @Html.DropDownList("Country", items)
}
                </p>

                <p>

                    <button id="submit" type="submit">Submit</button>
                </p>

            </form>

            <div id="required">
                <p>
                    * Required Fields<br />
                    NOTE: You must activate your account after sign up
                </p>
            </div>


        </div>

        <!--END #signup-inner -->
    </div>

    <!--END #signup-form -->
    </div>

</body>
</html>
