@model IT_Recrutement_Link.Web.Models.Login
@{
    ViewBag.Title = "Authentification";
}


@Html.ValidationSummary(true)
<br />
<div> @ViewBag.WrongPasswordMessage !!</div>
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
             <br />
   
    <div class="editor-label">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
             <br />
             <br />
    <div class="editor-field">
        @Html.LabelFor(m => m.Password)
    <br />
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
       </div>
             <br />
             <br />
    <div class="editor-field">
        
        @Html.RadioButton("Choice", "Company", new { id = "chooseCompany" })
        @Html.RadioButton("Choice", "Student", new { id = "chooseStudent" })    
    </div>
             <br />
             <br />
    <div class="editor-field">
        <label>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
        </label>
    </div>
    <br />
    <br />
    <input type="submit" value="Log in" />
}