@model IT_Recrutement_Link.Web.Models.Login
@{
    ViewBag.Title = "Authentification";
}


@Html.ValidationSummary(true)
<br />
<div style=""> @ViewBag.WrongPasswordMessage</div>
@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
             <br />
    <div class="editor-label">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
             <br />
             <br />
    <div class="editor-field">
        @Html.LabelFor(m => m.Password)
    <br />
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
       </div>
             <br />
             <br />
    <div >
     Student  @Html.RadioButtonFor(l => l.ChosenChoice, "Student", new { @checked = "checked"})
        <br/>
     Company  @Html.RadioButtonFor(l => l.ChosenChoice, "Company")
    </div>
            
    <br />
    <input type="submit" value="Log in" />
}
<div>
    @Html.ActionLink("Register As A Student", "AddStudentForm", "Student")<br />
    @Html.ActionLink("Register As A Company", "AddCompanyForm", "Company")
</div>